<div class="cont-logginscreen" *ngIf="exibirComponente">
<mat-card class="example-card" appearance="outlined">
    <mat-form-field>
        <mat-label>Login (teste&#64;email.com)</mat-label>
        <input matInput [(ngModel)]="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Senha (senha123)</mat-label>
      <input matInput [(ngModel)]="senha" [type]="hidePasswd() ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePasswd()"
      >
        <mat-icon>{{ hidePasswd() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-fab extended (click)="onLogin()">
        Login
    </button>
    <div class="errorMessage">
        {{ errorMessage }}
    </div>
</mat-card>
</div>